NEXT_PUBLIC_ENV = 'dev'
NEXT_PUBLIC_RESTAURANT_BASE_URL = 'http://localhost:3000'
NEXT_PUBLIC_API_BASE_URL = http://localhost:8000

NEXT_PUBLIC_DEMO_RESTAURANT_EMAIL=
NEXT_PUBLIC_DEMO_RESTAURANT_PASSWORD=

NEXT_PUBLIC_DEMO_MANAGER_EMAIL=
NEXT_PUBLIC_DEMO_MANAGER_PASSWORD=

NEXT_PUBLIC_DEMO_STAFF_EMAIL=
NEXT_PUBLIC_DEMO_STAFF_PASSWORD=