@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hides scrollbar for Chrome, Safari, and Edge */
}
.no-scrollbar {
  -ms-overflow-style: none; /* Hides scrollbar for IE and Edge */
  scrollbar-width: none; /* Hides scrollbar for Firefox */
}
.border-b{
  border-bottom: 1px;
}
.input-style{
  @apply mt-1 w-full px-4 py-2 border border-gray-600 border-opacity-45 rounded-md shadow-xl focus:ring-2 focus:ring-blue-400 bg-[#E7E9E2]  text-black ;
}
