@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after{
  box-sizing: border-box;
}

html,
body,
#root{
  height: 100%;
  width: 100%;
}

@media(min-width: 768px) {
  .custom-grid-rows {
    grid-template-rows: repeat(8,20vh);
  }
}

@media(min-width:1280px){
  .custom-grid-rows {
    grid-template-rows: repeat(10,6vh);
  }
}

@media(min-width:1500px){
  .custom-grid-rows {
    grid-template-rows: repeat(10,6.5vh);
  }
}
/* styles/globals.css */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hides scrollbar for Chrome, Safari, and Edge */
}
.no-scrollbar {
  -ms-overflow-style: none; /* Hides scrollbar for IE and Edge */
  scrollbar-width: none; /* Hides scrollbar for Firefox */
}
.border-b{
  border-bottom: 1px;
}
.input-style{
  @apply mt-1 w-full px-4 py-2 border border-gray-600 border-opacity-45 rounded-md shadow-xl focus:ring-2 focus:ring-blue-400 bg-[#E7E9E2]  text-black ;
}