@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: #000;
  background: #fdfdfd;
  font-family: Arial, Helvetica, sans-serif;
}
.skeleton {
  background: linear-gradient(90deg, #e0e0e0 25%, #f5f5f5 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite linear;
  border-radius: 12px;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

