NEXT_PUBLIC_BASE_API_URL=http://localhost:8000
NEXT_PUBLIC_CLIENT_URL=http://localhost:3000
NEXT_PUBLIC_DEFAULT_LOGO=
NEXT_PUBLIC_PAYMENT_OPTION=[Cash, Online]
NEXT_PUBLIC_VAPID_KEY=BMpV1qoQz4qNsAp7PyrAP13bDJ7cgY9u0IaNXuAF6ey9BQfsAGraO-PyVcj96ktHzRAANmQzZWybFri
NEXT_PUBLIC_PRIVATE_VAPID_KEY=LnN_pFdZzdecpeM8LCV7kh8Tde-
