# Common
FILE_NAME=restro
JWT_SECRET=abhi1947
PORT=8000

# APP URLs
BASE_RESTAURANT_URL=http://localhost:3000
CLIENT_URL=http://localhost:3001
BACKEND_URL=http://localhost:8000
RESTAURANT_CLIENT_URL=http://localhost:3000

# Admin Details
ADMIN_CREDENTIALS=admin@restro.com:Admin@123
ADMIN_EMAIL = admin@restro.com
SESSION_SECRET = restro

# Cloudinary
CLOUDINARY_URL=
CLOUD_API_KEY=
CLOUD_NAME=
CLOUD_API_SECRET=

# Database
DATABASE_URL=postgresql://restro_user:restro_pass@localhost:5432/restro_db

# Mail
MAIL_FROM=noreply@restroo.food
MAIL_USER=
BREVO_API_KEY=

# Phonepay
PHONEPE_CALLBACK_USERNAME=
PHONEPE_CALLBACK_PASSWORD=
PHONE_PAY_CLIENT_ID=
PHONE_PAY_CLIENT_SECRET=

# Web socket / Web Push Notification
PRIVATE_VAPID_KEY=
PUBLIC_VAPID_KEY=